<div class="page-header">
    <h1>Promote</h1>
</div>

<!-- Promote -->
<form ng-submit="promote.promoteUser(promoteData);">
    
    <!-- Username -->
    <label>Username:</label>
    <input class="form-control" type="text" name="username" placeholder="please enter username" ng-model="promote.promoteData.username">
    <br>
    <!-- Submit/Promote Button -->
    <button class="btn btn-primary" type="submit">Promote</button>
</form>
<br>

<!-- Registration Form -->

<br>

<!-- Loading Icon -->
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>
<!-- Loading Icon -->

<br>

<!-- Successful Registration Message -->
<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{ register.successMsg }}</div>
</div>
<!-- Successful Registration Message -->

<br>

<!-- Failed Registration Message -->
<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{ register.errorMsg }}</div>
</div>
<!-- Failed Registration Message -->