<!doctype html>
<html ng-app="MainCtrl">
    <head>
        <title>first try</title>
    <script src="libs/angular/angular.min.js"></script>
    <script src="js/controllers/MainCtrl.js"></script>
    </head> 
    <body>
        <div ng-controller="MainController">
           <ol>
               <li ng-repeat="activity in activities">
                    {{activity.Name}} {{activity.avgRating}} {{activity.numberOfApplicatons}}
               </li>
           </ol> x
        </div>
        
    </body>
</html>