<!doctype html>
<html ng-app="MainCtrl">
    <head>
        <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script src="js/controllers/MainCtrl.js"></script>
    </head> 
    <body>
        <div ng-controller="MainController">
            <div class="panel panel-default">
                <div class="panel-heading">Top Rated Activities</a></div>
                    <div class="panel-body">
                        <div class="list-group">
                                <a ng-repeat="activity in activities" class="list-group-item">
                            <div>{{activity.Name}}  &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160 &#160  &#160 &#160  Activity Rating:&#160{{activity.avgRating}} &#160 &#160 &#160 &#160 &#160 &#160&#160 &#160 &#160 &#160   
                                 Number Of Applicatons:&#160{{activity.numberOfApplicatons}}</div>
                                </a>
        </div>
      </div>
    </div>
        </div>
        <br>
        <br>
        <div ng-controller="addratingcontroller">
        <form ng-submit="addRating(RatingData)">
    
            <!-- Username -->
            <input class="form-control" type="text" name="rating" placeholder="please enter a Rating" ng-model="addratingcontroller.RatingData.rating">
            <br>
            <!-- Submit/Ban Button -->
            <button class="btn btn-primary" type="submit">Rate</button>
        </form>
        <br>
        </div>
        
    </body>
</html>