<!DOCTYPE html>

<html lang="en" ng-app="blogApp" class= "no-js"
<head>
  <meta charset="utf-8">
  <meta http-equiv="X_UA_Compatible" content="IE=edge">
  <title>Hello World</title>
</head>
<body>
<div  ng-controller="PostListController">


<h1>({ heading })</h1>

</div>
hiii





<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src = "karim.js"></script>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
